<p>review-order-container works!</p>

<!-- <div   *ngFor="let order of (orders| async)"    > 
    




</div> -->



<table class="table table-striped w-auto">

    <!--Table head-->
    <thead>
        <tr>
         
            <th>Order Number</th>
            <th>Watch Brand</th>
            <th>Watch Price</th>
            <th>Watch Description</th>
           
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr class="table-info"   *ngFor="let order of (orders| async)"   >
            <th scope="row">{{order.orderId}}</th>
            <td>{{order.watchorderholder.brand}}</td>
            <td>{{order.watchorderholder.price}}</td>
            <td>{{order.watchorderholder.discription}}</td>
            
        </tr>
       
    </tbody>
    <!--Table body-->


</table>